Multisalas/Cine/bin
Multisalas/Cine/obj
Multisalas/TestResults
Multisalas/CineTest/bin
Multisalas/CineTest/obj
Multisalas/packages/Moq*
Multisalas/packages/EntityFramework*
Multisalas/packages/Unity*
Multisalas/Multisalas.v12.suo
